/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px;
  line-height: ; 
  letter-spacing: ;
  word-spacing: ;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1{
  text-align: center;
}

h1, h2{
letter-spacing: 1px;
}

section{
text-indent: 20px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  border-bottom: 1px solid;
}

a:link {
  color: #265301;
}

a:visited {
  color:  #a66;
}

a:focus {
  border-bottom: 1px solid;
  background:  #a66;
  border-bottom: 0;
}

a:hover {
  border-bottom: 1px solid;     
  background:  #a66;
  border-bottom: 0;
}

a:active {
  background: blue; 
}

a[href*="http"]{
  background: url('external-link.png') no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 15px;
} 

ul{
  line-height: 1.8;
}

nav li a{
  display: block;
  background: grey;
  line-height: 2;
}


